#root {
    background: #f5f5f5
}
.search-menu {
    /*max-width: 430px;*/
    padding: 20px 50px;
    background: #d8f4da;
    /*color: #fff;*/
    margin: 0 auto;
}
.search-menu, .brustlist-list, .brust-single, body {
    background: #d8f4da;
    background: #eee;
}
.search-menu select, .search-menu input {
    /*color: #000;*/
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.brust-one-inner {
    background: #fff;
    border: 1px solid #ccc;
}
.brust-one-inner img {
    max-width: 100%;
}
.brust-single {
    /*background: #fff;*/
    position: relative;
}
.single-close {
    position: absolute;
    top: 18px;
    right: 30px;
    color: #ddd;
    /* border: 1px solid; */
    /* border-radius: 120px; */
    background: #f7f7f7;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 600;
    transform: scaleX(1.4);
}
.single-close:hover {
    color: #fff;
    background: #d8f4da;
}
/*body::before {*/
    /*content: ' ';*/
    /*background: url(../src/car-bg-3.jpg);*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-size: cover;*/
    /*top: 0;*/
    /*filter: blur(2px);*/
/*}*/
/*body::after {*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background: green;*/
    /*opacity: 0.5;*/
    /*top: 0;*/
/*}*/
/*.supah-class {*/
    /*position: relative;*/
    /*z-index: 10;*/
/*}*/